<span id="skills">&nbsp;</span>
<div class="skill-page">
  <div class="row">
    <div class="skill-container">
      <% @skills.each do |skill| %>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h4><%= link_to skill.name, skill_path(skill) %></h4>
          <img class="img-responsive" src="<%= skill.svg_url %>" />
        </div>
      <% end %>
    </div>
  </div>
  <% if user_admin %><%= link_to 'Add', new_skill_path, id: "add-skill-link" %><% end %>
</div>
