<h1>Leroi Dejesa</h1>
<p>Full-Stack Web Developer</p>
<a href="mailto:leroidejesa@gmail.com">Email</a>
<a href="www.linkedin.com/in/leroidejesa">LinkedIn</a>
<a href="www.github.com/leroidejesa">GitHub</a>

<h2>Skills</h2>

<ul>
  <% @skills.each do |skill| %>
    <li>
      <img src='<%= skill.svg_url %>'><br>
      <%= link_to skill.name, skill_path(skill) %><br>
    </li>
  <% end %>
</ul>

<p><%= link_to 'add', new_skill_path %></p>
